.skills__container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
    margin-top: 1.5rem; */
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    
}

.card.skills {
    background: var(--color-light);
    color: var(--color-white);
    padding:0.5rem

}

.card.skills:hover {
    background: var(--color-white);
    border-color: var(--color-light);
    color: var(--color-white);
    padding:0.5rem

}

.card.skills h6 {
    text-align: center;
    margin: 0.5rem 0;
}



/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .skills__container{
        grid-template-columns: repeat(4, 1fr);
    }
}


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .skills__container{
        grid-template-columns: repeat(3, 1fr);
    }
}

